<!--

  Authors: see git history

  Copyright (c) 2010 Authors
  Licensed under the GNU GPL version 3.0 or later.  See the file LICENSE for details.

-->
<!DOCTYPE html>
<!-- vuetify sets overflow-y: scroll by default?! https://github.com/vuetifyjs/vuetify/issues/1197 -->
<html style="overflow-y: hidden;">
  <head>
    <meta charset="utf-8">
    <title>inkstitch-gui</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
