__pycache__
*.swp
*.kate-swp
*.pyc
*.spec
*.zip
*.tar.gz
*.po
dist/
build/
locales/
/inx/
.pydevproject
.project
/.idea
/.vscode
/VERSION
/src/
.DS_STORE
.DS_Store
flaskserverport.json
electron/yarn.lock

# debug and profile files
/DEVEL.ini
/DEBUG
/PROFILE
/debug*
/.debug*
# old profile files
/profile_stats
/profile_stats.html
/profile_stats.prof
