---
title: "Ink/Stitch"
permalink: /fr/
lang: fr
layout: splash

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/thread_banner_dark.jpg
  actions:
    - label: "Télécharger"
      url: "/fr/docs/install/"
excerpt: "Une plateforme open source de création de motifs de broderie machine ([Inkscape](https://inkscape.org/) extension).<br><br>
          Ink/Stitch vise à être une plateforme à part entière de création de motifs de broderie basée entièrement sur du logiciel libre open source.
          Notre but est d'être accessible à l'amateur tout en fournissant la puissance nécessaire au professionnel."
feature_page:
  - image_path: /assets/images/galleries/fonts/apex-lake/apex_set.jpg
    alt: "text: Fonctionnalités"
    title: "Fonctionnalités"
    excerpt: "Des fonctionnalités puissantes pour tous.

              * Très nombreux types de points disponibles:  depuis le point manuel jusqu'à des points sophistiqués tels que les motifs tartan.

              * Un outil de lettrage facile à utiliser avec une longue liste de fontes prêtes à l'emploi permet d'ajouter du texte directement au clavier.

              * Des outils pour optimiser l'ordre de broderie.

              * De nombreux formats de fichier de sortie possible, y compris pour des machines à broder faites maison."
    url: "/fr/features/"
    btn_class: "btn--primary btn--large btn--large"
user_manual:
  - image_path: /assets/images/galleries/fonts/mai_en_fleur/abril_collage.jpg
    alt: "text: manuel de l'utilisateur"
    title: "Manuel de l'utilisateur"
    excerpt: "Description détaillée de chaque fonctionnalité et de chaque outil.


              Depuis le processus d'installation et la customisation d'inkcape pour la broderie jusqu'aux descriptions approfondies de chaque outil et fonctionnalité, 
              le manuel utilisateur est une bonne base de connaissance pour votre processus de création de broderie. Il contient tout ce que vous avez besoin de savoir sur Ink/Stitch."
    url: "/fr/docs/install/"
    btn_class: "btn--primary btn--large"
stitch_library:
  - image_path: /assets/images/tutorials/multicolor_satin/snake.jpg
    alt: "text: Bibliothèque de points"
    title: "Bibliothèque de points"
    excerpt: "D'innombrables possibilités pour votre créativité.


              Les types de points sont la fondation du processus de digitalisation.
              Libérez votre créativité et combinez les types de points offerts par Ink/Stitch  pour obtenir de superbes résultats."
    url: "/fr/docs/stitch-library/"
    btn_class: "btn--primary btn--large"
font_library:
  - image_path: /assets/images/galleries/fonts/multiple/multifont3.jpg
    alt: "text: Bibliothèque de polices"
    title: "Bibliothèque de polices"
    excerpt: "Réhausser votre broderie avec une belle police.


              Ink/Stitch est livré avec de nombreuses polices prénumérisées prêtes à l'emploi. Ouvrez simplement l'outil de lettrage,
              choisissez une police et tapez directement avec votre clavier. La bibliothèque de polices présente chaque police disponible et affiche
              des exemples de conception au bas de chaque page."
    url: "/fr/fonts/font-library/"
    btn_class: "btn--primary btn--large"
tutorials:
  - image_path: /assets/images/tutorials/randomized_satin/random_satin.jpg
    alt: "text: Tutoriels et exemples de fichiers"
    title: "Tutoriels et exemples de fichiers"
    excerpt: "Commencez avec des fichiers prêts à l'emploi ou lisez des didacticiels détaillés.

              * Exemples de fichiers pour différentes méthodes de broderie : appliqué, dentelle autoportante (FSL), franges, etc.

              * Connaissances de base en numérisation : compensation d'étirement,  bords satin, optimisation du chemin de point, etc.

              * Projets et ressources matérielles : machine à broder DIY, cerceau à chaussettes

              * Créer des polices pour Ink/Stitch

              *..."
    url: "/fr/tutorials/"
    btn_class: "btn--primary btn--large"
social:
  - image_path: /assets/images/galleries/fonts/chicken_little/chickenlittle.jpg
    alt: "text: Socialisez et obtenez de l'aide"
    title: "Socialisez et obtenez de l'aide"
    excerpt: "Ink/Stitch dispose d'une large communauté prête à vous aider à démarrer. Entrez en contact et commencez votre voyage dans le monde de la broderie."
    url: "/fr/docs/faq/"
    btn_class: "btn--primary btn--large"
develope:
  - image_path: /assets/images/galleries/fonts/cats/no_ordinary_cat.jpg
    alt: "text: Impliquez-vous"
    title: "Impliquez-vous"
    excerpt: "Ink/Stitch est un projet communautaire et il existe de nombreuses façons d'aider à améliorer le programme.

              * Signaler les bugs et donner votre avis sur les nouvelles fonctionnalités

              * Rédiger des tutoriels ou fournir des exemples de fichiers

              * Aider à la documentation

              * Aider aux traductions

              * Faire un peu de programmation"
    url: "/fr/developers/introduction/"
    btn_class: "btn--primary btn--large"
---
<img src="/assets/images/index-inkstitch-logo.png" alt="Ink/Stitch" style="margin-bottom: 1em;">

<h2>News</h2>

{%- assign posts = site.posts | where: "lang", "fr" -%}
<ul>{% for post in posts offset: 0 limit: 5 %}<li class="news-link"><a href="{{ post.url }}">{{ post.title }}</a> <span class="news-date">{{ post.date  | date: "%d.%m.%Y" }}</span></li>{% endfor %}</ul>
<p><a href="{{ site.url }}/news/" class="btn btn--primary btn--large">{{ site.data.ui-text[page.lang].more_label | default: "Read more" }}</a></p>

<hr>

{% include feature_row id="feature_page" type="left" %}

{% include feature_row id="user_manual" type="right" %}

{% include feature_row id="stitch_library" type="left" %}

{% include feature_row id="font_library" type="right" %}

{% include feature_row id="tutorials" type="left" %}

{% include feature_row id="social" type="right" %}

{% include feature_row id="develope" type="left" %}
