---
title: "Ink/Stitch"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/home.jpg
  cta_label: "Download"
  cta_url: "https://github.com/lexelby/inkstitch"
excerpt: "An Inkscape extension for designing machine embroidery patterns<br><span style='color: red;'>!!! This is only a test website for Ink/Stitch !!!<br>If you are looking for the real one see <a href='http://inkstitch.org' style='color: red;'>http://inkstitch.org</a></span>"
intro: 
  - excerpt: 'This is the main page. The design is quiet finished. Images are example images of the minimal mistakes theme.'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "Quick Setup"
    title: "Quick Setup"
    excerpt: "Quick Setup on Linux and Windows"
    url: "/docs/install"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "Usage"
    title: "Usage"
    excerpt: "Documentation"
    url: "/docs/install"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Tutorials"
    excerpt: "Examples and Tutorials."
    url: "/tutorials/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
