---
title: "Ink/Stitch"
permalink: /de/
lang: de
layout: splash

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/thread_banner_dark.jpg
  actions:
    - label: "Download"
      url: "/de/docs/install/"
excerpt: "Ein [Inkscape](https://inkscape.org/)-Plugin für die Erstellung von Stickdateien<br><br>
          Ink/Stitch hat es sich zum Ziel gesetzt, sowohl für Hobby-Sticker als auch für professionelle Digitalisierer alle Funktionen bereit zu stellen,
          die sie für die Erstellung von Stickdateien benötigen."
feature_page:
  - image_path: /assets/images/galleries/fonts/apex-lake/apex_set.jpg
    alt: "text: Features"
    title: "Features"
    excerpt: 'Tolle Funktionen für alle.

              * Zahlreiche Sticharten und -varianten zur Auswahl. Von manueller Stichplatzierung bis hin zu anspruchsvollen Sticharten wie Tartanmustern.

              * Einfach zu verwendendes Beschriftungssystem mit einer langen Liste einsatzbereiter Schriftarten.
                Der Text kann direkt über die Tastatur eingegeben werden.

              * Tools zur Optimierung der Stichpfade.

              * Ausgabedateien in vielen Formaten, sogar für selbstgebaute Stickmaschinen.'
    url: "/de/features/"
    btn_class: "btn--primary btn--large btn--large"
user_manual:
  - image_path: /assets/images/galleries/fonts/mai_en_fleur/abril_collage.jpg
    alt: "text: Benutzerhandbuch"
    title: "Benutzerhandbuch"
    excerpt: 'Detaillierte Beschreibung aller Funktionen und Werkzeuge.


              Mit Beschreibungen des Installationsprozesses über die Personalisierung von Inkscape für Stickereien bis hin zu ausführlichen Beschreibungen aller Werkzeuge und Funktionen
              ist das Benutzerhandbuch eine gute Wissensbasis für den Designprozess. Es enthält alles, was du über Ink/Stitch wissen müssen.'
    url: "/de/docs/install/"
    btn_class: "btn--primary btn--large"
stitch_library:
  - image_path: /assets/images/tutorials/multicolor_satin/snake.jpg
    alt: "text: Sticharten-Bibliothek"
    title: "Sticharten-Bibliothek"
    excerpt: "Unzählige Möglichkeiten für deine Kreativität.


              Sticharten bilden die Grundlage für den Digitalisierungsprozess.
              Lass deiner Kreativität freien Lauf und kombiniere die Ink/Stitch Sticharten zu wunderschönen Stickdesigns."
    url: "/de/docs/stitch-library/"
    btn_class: "btn--primary btn--large"
font_library:
  - image_path: /assets/images/galleries/fonts/multiple/multifont3.jpg
    alt: "text: Schriftbibliothek"
    title: "Schriftbibliothek"
    excerpt: "Werte dein Design mit einer schönen Schriftart auf.


              Ink/Stitch enthält zahlreiche vordigitalisierte Schriftarten, die sofort einsatzbereit sind. Mit dem Textwerkzeug kann ganz einfach eine
              Schriftart ausgewählt werden. Die Texteingabe erfolgt direkt über die Tastatur. Die Schriftartenbibliothek listet alle verfügbare Schriftarten auf und zeigt
              eindrucksvolle Designbeispiele."
    url: "/de/fonts/font-library/"
    btn_class: "btn--primary btn--large"
tutorials:
  - image_path: /assets/images/tutorials/randomized_satin/random_satin.jpg
    alt: "text: Tutorials und Beispieldateien"
    title: "Tutorials und Beispieldateien"
    excerpt: "Lerne anhand von Beispieldateien oder lese detailierte Tutorials.

              * Beispieldateien für verschiedene Stickmethoden: Applikationen, Free Standing Lace, Fransen usw.

              * Grundlegende Digitalisierungskenntnisse: Push/Pull-Kompensation, Satinkanten, Stichpfadoptimierung usw.

              * Hardwareprojekte und -ressourcen: DIY-Stickmaschine, Sockenrahmen

              * Erstellen eigener Schriftarten für Ink/Stitch

              * ..."
    url: "/de/tutorials/"
    btn_class: "btn--primary btn--large"
social:
  - image_path: /assets/images/galleries/fonts/chicken_little/chickenlittle.jpg
    alt: "text: Unterstützung bekommen"
    title: "Unterstützung bekommen"
    excerpt: 'Ink/Stitch hat eine große Gemeinschaft, die dich bei deinen ersten Schritten mit Ink/Stitch unterstützen kann.
              Kontaktiere uns über verschiedene Kanäle und starte deine Reise in die Welt des Stickens.'
    url: "/de/docs/faq/"
    btn_class: "btn--primary btn--large"
develope:
  - image_path: /assets/images/galleries/fonts/cats/no_ordinary_cat.jpg
    alt: "text: Unterstützen"
    title: "Unterstützen"
    excerpt: 'Ink/Stitch ist ein Community-Projekt und es gibt viele Möglichkeiten, bei der Verbesserung des Programms mitzuhelfen.

              * Fehler melden und Feedback zu neuen Funktionen geben

              * Tutorials schreiben oder Beispieldateien bereitstellen

              * Bei der Dokumentation helfen

              * Bei Übersetzungen helfen

              * Programmieren'
    url: "/de/developers/introduction/"
    btn_class: "btn--primary btn--large"
---
<img src="/assets/images/index-inkstitch-logo.png" alt="Ink/Stitch" style="margin-bottom: 1em;">

<h2>Neuigkeiten</h2>

{%- assign posts = site.posts | where: "lang", "de" -%}
<ul>{% for post in posts offset: 0 limit: 5 %}<li class="news-link"><a href="{{ post.url }}">{{ post.title }}</a> <span class="news-date">{{ post.date | date: "%d.%m.%Y" }}</span></li>{% endfor %}</ul>
<p><a href="{{ site.url }}/de/news/" class="btn btn--primary btn--large">{{ site.data.ui-text[page.lang].more_label | default: "Read more" }}</a></p>

<hr>

{% include feature_row id="feature_page" type="left" %}

{% include feature_row id="user_manual" type="right" %}

{% include feature_row id="stitch_library" type="left" %}

{% include feature_row id="font_library" type="right" %}

{% include feature_row id="tutorials" type="left" %}

{% include feature_row id="social" type="right" %}

{% include feature_row id="develope" type="left" %}
