./pyembroidery
backports.functools_lru_cache
wxPython
networkx==2.2
shapely
lxml
appdirs
numpy
jinja2
requests
colormath
stringcase

# We're not ready for flask 1.0 yet.  Logging changed, among othe things.
flask==0.*

pywinutils; sys.platform == 'win32'
pywin32; sys.platform == 'win32'
