pyembroidery >=1.2.12, <1.3.0
backports.functools_lru_cache
wxPython
networkx
shapely
lxml
appdirs
numpy
jinja2
requests
colormath

# We're not ready for flask 1.0 yet.  Logging changed, among othe things.
flask==0.*

pywinutils; sys.platform == 'win32'
pywin32; sys.platform == 'win32'
