<h2>Informations Légales</h2>

{% for sub_font in page.data_title %}
  {% assign base_url = "https://github.com/inkstitch/embroidery-fonts/blob/main/src/" %}
  {%- assign sub_font_data = site.data.fonts[sub_font].font -%}
  {% capture license_url %}
{{ base_url }}{{sub_font}}/LICENSE
  {% endcapture %}
<p>
    {{ sub_font_data.name }} est distribuée sous licence  {{ sub_font_data.font_license }}.<br/>
  {% if  sub_font_data.original_font  == "" %}
	{{ sub_font_data.name }}a été créée pour Ink/Stitch.
  {% else %}
 Elle est dérivée de <a href = "{{ sub_font_data.original_font_url }}" > {{ sub_font_data.original_font }} </a>.
{% endif %}

</p>

<p>
   <a href="{{license_url}}"> Télécharger la licence de {{ sub_font_data.name }} </a>
</p>
<p>


{% endfor %} 

<h2> Dans la vraie vie </h2>
