

<div id=images>
{%- for image in page.preview_image -%}
<p>
  <img 
     src="{{image.url }}"
     alt="{{page.title}} "
     height="{{image.height}}"/>
</p>
{% endfor %} 

  <div id=glyphs>
   <h2>Glyphs</h2>
   
  {%- assign min_size = 99999999 -%}
  {%- assign max_size = 0 -%}
  {%- assign categories = "" | split: ',' -%}
  {%- assign glyphs = "" | split: ',' -%}
  {%- for sub_font in font.data_title -%}
    {%- assign sub_font_data = site.data.fonts[sub_font].font -%}
    {%- assign name = sub_font_data.name -%}
    
       {{name}} contains   glyphs:
 
{% endfor %}
   
    


    
  </div>

  <div id= dimensions>
    <h2> Dimensions</h2>
</div>



