

{% for image in page.preview_image -%}
<p class="font-library-preview-image">
  <img 
     src="{{ image.url }}"
     alt="{{ page.title }} "
     style="height:{{ image.height }}mm;max-width:none;" data-image_height="{{ image.height }}mm">
  </p>
{% endfor %} 


<h2>Schriftzeichen</h2>

{%- assign nb_fonts =page.data_title.size -%}
{%- for sub_font in page.data_title -%}
  {%- assign sub_font_data = site.data.fonts[sub_font].font -%}
 
<p><b>{{ sub_font_data.name }}</b> enthält {{ sub_font_data.glyphs.size }} Schriftzeichen:</p> 

<code class="font-glyphs">{{ sub_font_data.glyphs | sort | join: ' ' }}</code>

{% endfor %}

<h2>Maße</h2>
<p>Im Textwerkzeug ist die Skalierung einer Schrift auf einen bestimmten Prozentbereich beschränkt.</p>

<p>Wird eine Schrift außerhalb dieses Prozentbereichs skaliert, kann sich das negativ auf das Stickergebnis auswirken.</p>
{% for sub_font in page.data_title -%}
  {%- assign sub_font_data = site.data.fonts[sub_font].font -%}

Im Textwerkzeug können Sie <b>{{ sub_font_data.name }}</b> bis auf {{ sub_font_data.min_scale | times: 100 | floor }}% für eine Größe von ca.
{{ sub_font_data.size | times: sub_font_data.min_scale }} mm  herunterskalieren,
und bis zu {{ sub_font_data.max_scale | times: 100 | floor }}% für eine Größe von ca.
{{ sub_font_data.size | times: sub_font_data.max_scale }} mm hochskalieren.

{% endfor %}
