

{% for image in page.preview_image -%}
<p>
  <img 
     src="{{ image.url }}"
     alt="{{ page.title }} "
     style="width:auto!important;height:{{ image.height }}mm"/>
</p>
{% endfor %} 

<h2>Glyphs</h2>

{%- assign nb_fonts =page.data_title.size -%}
{%- for sub_font in page.data_title -%}
  {%- assign sub_font_data = site.data.fonts[sub_font].font -%}
 
<p>{{ sub_font_data.name }} contains {{ sub_font_data.glyphs.size }} glyphs:</p> 

<code class="font-glyphs">{{ sub_font_data.glyphs | sort | join: ' ' }}</code>

{% endfor %}

<h2>Scaling</h2>
{% for sub_font in page.data_title -%}
  {%- assign sub_font_data = site.data.fonts[sub_font].font -%}
  {%- if nb_fonts > 1 -%}
      <h3>{{ sub_font_data.name }}</h3>
  {%- endif -%}

<p>When using the lettering tool, scaling of the font is controlled by allowing a scaling percentage range.</p>

<p>If you try to further decrease or increase the font size outside the tool, the result might not embroider correctly.</p>

The tool will allow you to scale {{ sub_font_data.name }} down to {{ sub_font_data.min_scale | times: 100 | floor }}%  for a size of approximatively 
{{ sub_font_data.size | times: sub_font_data.min_scale }} mm ({{ sub_font_data.size | times: sub_font_data.min_scale | times:0.039 }} in),
and up to {{ sub_font_data.max_scale | times: 100 | floor }}%  for a size of approximatively 
{{ sub_font_data.size | times: sub_font_data.max_scale }} mm ({{ sub_font_data.size | times: sub_font_data.max_scale | times:0.039  }} in).

{% endfor %}
