{%- if page.lang == 'en' or page.lang == blank -%}
  {%- assign lang = "" -%}
  {%- assign navlang = "en" -%}
{%- else -%}
  {%- assign navlang = page.lang -%}
  {%- capture lang -%}{{ page.lang }}/{%- endcapture -%}
{%- endif -%}
{%- capture nav_file -%}navigation_{{ navlang }}{%- endcapture -%}
{%- assign navigation = site.data[nav_file] -%}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | relative_url }}{{ lang }}"><img src="/assets/images/inkstitch-logo.svg" title="Ink/Stitch" alt="Ink/Stitch"></a>
        <ul class="visible-links">
          {%- for link in navigation.main -%}
            {%- if link.url contains '://' -%}
              {%- assign url = link.url -%}
            {%- else -%}
              {%- assign url = link.url | relative_url -%}
            {%- endif -%}
            <li class="masthead__menu-item">
              <a href="{{ url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        {% include language_switcher %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[page.lang].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
