@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(barlow_condensed.ttf) format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url(barlow.ttf) format('truetype');
}


@media screen {
    .page {
        margin-top: 20mm !important;
        outline: 1px dotted grey;
    }
}

@media print {
    .page {
        page-break-after: always;
        float:none
    }

    .ui {
      display: none;
    }
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;
}

body {
    font-family: "Barlow", sans-serif;
    font-size: 8pt;
    text-align: center;
    color: rgb(80,80,80);
}

div {
    box-sizing: border-box;
}

.page {
  width: 210mm;
  height: 275mm;
  padding: 5mm; 
  background: #fff;
  margin: 0 auto;
  vertical-align: text-bottom;
  overflow: hidden;
  position: relative;
}

header {
  width: 202mm;
  height: 40mm;
  margin: 0;
  white-space: wrap;
  text-align: right;
  display: flex;
      display: -webkit-flex;  /* old webkit */
      display: -ms-flexbox;   /* IE 10 */
    flex-wrap: wrap;
    flex-direction: column;
}

figure.brandlogo {
  height: 30mm;
  width: 30mm;
  margin: 2.5mm;
  border: 1px solid gray;
}

figure.brandlogo img {
  max-width: 30mm;
  max-height: 30mm;
}


div.headline {
  display: flex;
    display: -webkit-flex;  /* old webkit */
    display: -ms-flexbox;   /* IE 10 */
  width: calc(100% - 50mm);
  height: 50%;
}

div.headline h1 {
  font-size: 18pt;
}

div.headline p {
  font-size: 12pt;
}

div.jobDetails {
  display: flex;
    display: -webkit-flex;  /* old webkit */
    display: -ms-flexbox;   /* IE 10 */
  width: calc(100% - 50mm);
  height: 50%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10pt;
}

div.jobDetails div {
  flex-grow: 1;
}

div.jobDetails div:last-child {
  font-size: 12pt;
}

div.jobDetails p {
  margin: 0;
}

div.jobDetails p span:first-child {
  font-weight: bold;
  padding-right: 1mm; 
}

div.print-detail .jobDetails {
  font-size: 12pt;
}

div.print-detail .jobDetails div:first-child {
  text-align: left;
}

.pageTitle {
  text-align: left;
  flex-grow: 1;
}

.pageTitle h1,
  .pageTitle p {
  margin: 0;
}

.currentDate {
  width: 30mm;
  font-size: 12pt;
  font-weight: bold;
}

figure.inksimulation {
  width: 200mm;
  height: 150mm;
  background: #fff;
  margin: 0 auto;
  white-space: wrap;
  text-align: right;
  outline: 1mm solid grey;
  position: relative;
  overflow: hidden;
}

figure.inksimulation svg {
}

figure.inksimulation figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12pt;
  font-weight: bold;
  margin: 2.5mm;
}

.colorPalette {
  width: 200mm;
  height: 40mm;
  background: #fff;
  padding-top: 1.5mm;
  padding-bottom: 1.5mm;
  margin: 0 auto;
  white-space: wrap;
  text-align: right;
  overflow: hidden;
  display: flex;
      display: -webkit-flex;  /* old webkit */
      display: -ms-flexbox;   /* IE 10 */
    align-items: stretch;
    flex-wrap: wrap;
}

.colorPalette.detailed > div {
  width: 50%;
  height: 100%;
}

footer {
  width: 200mm;
  height: 7mm;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  white-space: wrap;
  text-align: center;
  padding-top: 2mm;
  
}

.colorSwatch {
  margin: 0px;
  padding: 0px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px gray;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 8pt;
  border: 0.5mm solid white;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.swatchBackground {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.swatchInfo {
  text-align: left;
  min-width: 20mm;
  height: 30mm;
  margin-right: 5mm;
  margin-left: 5mm;
  margin-top: 5mm;
  margin-bottom: 5mm;
  position: relative;
  z-index: 2;
}

.swatchInfo .title {
  font-weight: 800;
}
.swatchInfo, .swatchTrims, .swatchStops{
  display:inline-block;
}

.signature {
  height: 100%;
  border: 0.5mm solid rgb(80, 80, 80);
  flex-grow: 1;
  line-height: 60mm;
  text-align: center;
}

footer p.num_pages {
  float: right;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 0;
}

/* reference : http://jsfiddle.net/jrulle/btg63ezy/3/ */

/* one item */
.colorSwatch:first-child:nth-last-child(n+1),
.colorSwatch:first-child:nth-last-child(n+1) ~ .colorSwatch {
    font-size: 14pt;
    height: 100%;
}

/* two items */
.colorSwatch:first-child:nth-last-child(n+2),
.colorSwatch:first-child:nth-last-child(n+2) ~ .colorSwatch {
    width: calc(100% / 2);
}

/* three items */
.colorSwatch:first-child:nth-last-child(n+3),
.colorSwatch:first-child:nth-last-child(n+3) ~ .colorSwatch {
  font-size: 12pt;
  width: calc(100% / 3);
}

/* four items */
.colorSwatch:first-child:nth-last-child(n+4),
.colorSwatch:first-child:nth-last-child(n+4) ~ .colorSwatch {
    font-size: 10pt;
    width: calc(100% / 4);
}

/* five items */
.colorSwatch:first-child:nth-last-child(n+5),
.colorSwatch:first-child:nth-last-child(n+5) ~ .colorSwatch {
  font-size: 9pt;  
  width: calc(100% / 5);
}

/* six items */
.colorSwatch:first-child:nth-last-child(n+6),
.colorSwatch:first-child:nth-last-child(n+6) ~ .colorSwatch {
  font-size: 8pt;
  width: calc(100% / 6);
}

/* seven items */
.colorSwatch:first-child:nth-last-child(n+7),
.colorSwatch:first-child:nth-last-child(n+7) ~ .colorSwatch {
    width: calc(100% / 4);
    height: calc(100% / 2);
}

.colorSwatch:first-child:nth-last-child(n+7) .swatchThread,
.colorSwatch:first-child:nth-last-child(n+7) ~ .colorSwatch .swatchInfo .swatchThread {
   display:none;
}

.colorSwatch:first-child:nth-last-child(n+7) .colorRgb,
.colorSwatch:first-child:nth-last-child(n+7) ~ .colorSwatch .swatchInfo .colorRgb {
   display:none;
}

/* nine items */
.colorSwatch:first-child:nth-last-child(n+9),
.colorSwatch:first-child:nth-last-child(n+9) ~ .colorSwatch {
    width: calc(100% / 5);
}

.colorSwatch:first-child:nth-last-child(n+9) .swatchInfo,
.colorSwatch:first-child:nth-last-child(n+9) ~ .colorSwatch .swatchInfo {
    margin-top: 2mm;
}

/* eleven items */
.colorSwatch:first-child:nth-last-child(n+11),
.colorSwatch:first-child:nth-last-child(n+11) ~ .colorSwatch {
    width: 16.665%;
}

/* thirteen items */
.colorSwatch:first-child:nth-last-child(n+13),
.colorSwatch:first-child:nth-last-child(n+13) ~ .colorSwatch {
    width: calc(100% / 5);
    height: calc(100% / 3);
}

.colorSwatch:first-child:nth-last-child(n+13) .swatchInfo,
.colorSwatch:first-child:nth-last-child(n+13) ~ .colorSwatch .swatchInfo {
    margin-top: 2.5mm;
}

.colorSwatch:first-child:nth-last-child(n+13) .swatchStops,
.colorSwatch:first-child:nth-last-child(n+13) ~ .colorSwatch .swatchInfo .swatchStops{
   display:none;
}

.colorSwatch:first-child:nth-last-child(n+13) .swatchTrims,
.colorSwatch:first-child:nth-last-child(n+13) ~ .colorSwatch .swatchInfo .swatchTrims{
   display:none;
}

/*  sixteen items */
.colorSwatch:first-child:nth-last-child(n+14),
.colorSwatch:first-child:nth-last-child(n+14) ~ .colorSwatch {
  width: calc(100% / 5); 
}

/*  sixteen items */
.colorSwatch:first-child:nth-last-child(n+16),
.colorSwatch:first-child:nth-last-child(n+16) ~ .colorSwatch {
  width: calc(100% / 6);
}
.colorSwatch:first-child:nth-last-child(n+16) .swatchInfo,
.colorSwatch:first-child:nth-last-child(n+16) ~ .colorSwatch .swatchInfo {
  margin-top: 1mm;
  margin-right: 1mm;
  margin-left: 1mm;
}
/* nineteen items */
.colorSwatch:first-child:nth-last-child(n+19),
.colorSwatch:first-child:nth-last-child(n+19) ~ .colorSwatch {
  height: calc(100% / 4);
  width: calc(100% / 5);
}

/* twenty-one items */
.colorSwatch:first-child:nth-last-child(n+21),
.colorSwatch:first-child:nth-last-child(n+21) ~ .colorSwatch {
  width: calc(100% / 6);
}

/* twenty-five items */
.colorSwatch:first-child:nth-last-child(n+25),
.colorSwatch:first-child:nth-last-child(n+25) ~ .colorSwatch {
  width: calc(100% / 7);
  font-size: 7pt;
}

/* twenty-nine items */
.colorSwatch:first-child:nth-last-child(n+29),
.colorSwatch:first-child:nth-last-child(n+29) ~ .colorSwatch {
  width: calc(100% / 9);
}

/* thirty-six items */
.colorSwatch:first-child:nth-last-child(n+36),
.colorSwatch:first-child:nth-last-child(n+36) ~ .colorSwatch {
  width: calc(100% / 9);
}

/* thirty-seven items */
.colorSwatch:first-child:nth-last-child(n+37),
.colorSwatch:first-child:nth-last-child(n+37) ~ .colorSwatch {
  width: calc(100% / 10);
}

/* fourty items */
.colorSwatch:first-child:nth-last-child(n+40),
.colorSwatch:first-child:nth-last-child(n+40) ~ .colorSwatch {
  width: calc(100% / 12);
}
