---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


/* typefaces */

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(barlow_condensed.ttf) format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url(barlow.ttf) format('truetype');
}


@font-face {
  font-family: 'Barlow';
  font-style: bold;
  font-weight: 800;
  src: url(barlow-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'FiraSans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(FiraSansCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'FiraSans';
  font-style: normal;
  font-weight: 400;
  src: url(FiraSansLight.woff) format('woff');
}


@font-face {
  font-family: 'FiraSans';
  font-style: bold;
  font-weight: 700;
  src: url(FiraSansLight.woff) format('woff');
}

html:not([lang="ru"]) body {
    font-family         : 'Barlow', sans-serif;
    
    tt, code, kbd, samp, pre, ul, ul li a, .masthead__inner-wrap,
    .btn {
      font-family: 'Barlow Condensed', sans-serif;
    }
    a[lang="ru"] {
      font-family: 'FiraSans', sans-serif;
    }
}

html[lang="ru"] body{
    font-family         : 'FiraSans', sans-serif;

    tt, code, kbd, samp, pre, ul, ul li a, .masthead__inner-wrap,
    .btn {
      font-family: 'FiraSans Condensed', sans-serif;
    }
}

nobr {
  white-space: nowrap;
}

hr {
    border-top: 1px solid #ccc !important;
}

key {
  border: 1px solid #e6e3e3;
  padding: 0 0.3em;
  margin: 0.1em 0.3em;
  border-radius: 5px;
  background: #f2f3f3;
  background: linear-gradient(#f2f3f3 60%, #cecece);
  display: inline-block;
  min-width: 2em;
  text-align: center;
  font-size: 85%;
  white-space: nowrap;
}

code::selection {
  background: #4300a6;
}

/* type scale */
$type-size-1 : 1.3em;
$type-size-2 : 1.2em;
$type-size-3 : 1.1em;  
$type-size-4 : 1em;
$type-size-5 : 0.8em;
$type-size-6 : 0.7em;
$type-size-7 : 0.6875em; // ~11px
$type-size-8 : 0.625em;  // ~10px

/*$body-color: ;
$background-color: ;
$masthead-link-color: ; */
$link-color: #003399;
$text-color: #000;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__title {
  border-bottom: 5px solid #ccc;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.page__content h2, .page__content h3, .page__content h4 {
  border-bottom: 1px solid #ccc;
  clear: both;
}

.page__content h2 {
    border-bottom: 3px solid #ccc;
    background: rgb(242, 243, 243);
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.page__content p, .page__content li, .page__content dl {
  font-size: 0.8rem;
}

p.notice--info, p.notice--warning {
    font-size: 0.7rem !important;
}

.highlighter-rouge, figure.highlight {
  background: #efefef;
  padding: 0 5px;
}

.page__content .align-left {
    margin-bottom: 1em;
}

.notice--info code {
    background-color: #d7e2e1;
}

a:hover, a:active, .page__taxonomy-item:hover {
  color: #ffd555;
  text-decoration: none;
}

p a:visited {
  color: #f74004;
}

a:focus, button:focus {
  outline: none;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

table.inline-table {
  display: table;
}

.equal-tables th, .equal-tables td {
  width: 50%;
}

.table-grid th, .table-grid td {
  border: 1px solid #b6b6b6;
}

.table-full-width tr td:first-child {
    width: auto;
}

.table-full-width tr td:nth-child(2) {
    width: 100%;
}

.table-first-column-alignright tr td:first-child, .table-first-column-alignright tr th:first-child {
    text-align: right;
}

.params-table tr td:nth-child(2) {
    min-width: 150px;
    text-align: center;
}

/* Table of Contents */
  .toc .nav__title {
    background: #808080;
  }
  
/* Sidebar */
  /* sticky = not sticky */
  @media (min-width: 64em) {
    .sidebar.sticky {
      position: relative;
      overflow: visible;
      height: auto;
      top: 0;
    }
  }
  
  .nav__sub-title {
    padding: 0;
    border-bottom: none;
  }
  
  .nav__list .nav__items .active {
    background: grey;
    color: white;
    display: block;
  }
  
  #language_switcher {
    margin-top: 2.5em;
  }
  
/* Masthead */
  .masthead {
    box-shadow: 1px 1px 5px #ccc;
    border-bottom: 1px solid #ccc;
  }

  .greedy-nav a.site-title {
    margin-left: 0.5em;
    padding: 0;
  }
  
  .greedy-nav a.site-title img {
    height: 3em;
  }

  .greedy-nav__toggle {
      background: #cccccc;
  }

  .masthead__menu ul {
    font-size: 0.8rem;
  }

  button:focus {
    outline: none;
  }
  
  .btn--primary:hover {
    background: #003399;
  }

  .greedy-nav .hidden-links li {
      border: none;
      border-bottom: 1px solid #f2f3f3;
  }

  .masthead__menu-item {
      border: 1px solid #ffb400;
      margin: 0.2em;
  }

  .masthead__menu-item:nth-child(2), .masthead__menu-item:nth-child(6) {
    border:1px solid rgb(50,132,50);
  }

  .masthead__menu-item:nth-child(3) {
    border:1px solid rgb(197,5,5);
  }

  .masthead__menu-item:nth-child(4) {
    border:1px solid #003399;
  }

  .masthead__menu-item:hover {
      background: #ffb400;
  }

  .masthead__menu-item:nth-child(2):hover, .masthead__menu-item:nth-child(6):hover {
    background: rgb(50,132,50);
  }

  .masthead__menu-item:nth-child(3):hover {
    background: rgb(197,5,5);
  }

  .masthead__menu-item:nth-child(4):hover {
    background: #003399;
  }

  .masthead__menu-item:hover a {
    color: white;
  }
  
  .greedy-nav a {
    padding: 0.2rem 0;
  }

  .greedy-nav .visible-links a:before {
    background: transparent;
  }
  
/* Pagination */
  .pagination--pager {
    background: #003399;
    color: white !important;
    width: calc(50% - 1em);
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #cccccc;
    border-radius: 0;
  }
  
  .pagination--pager:nth-child(2) {
    background: #ffb400;
  }
  
  .pagination--pager.disabled {
    background: #cccccc;
  }
  
/* Archive */
  .archive__item-title {
    overflow: inherit;
  }

  p.archive__item-title {
    font-weight: bold;
    font-size: 1.1em !important;
    margin-bottom: 5px !important;
  }

/* Gallery */

  .logo__gallery .archive__item-teaser img {
      height: 100px;
  }

  .logo__gallery .archive__item-body {
      text-align: center;
  }

@media (min-width: 37.5em) {
  figure.third > figure {
      width: calc(33.3333% - 0.5em);
  }
  figure.half > figure {
      width:calc(50% - 0.5em)
  }
}

/* Footer */

  .page__date, .file__path {
      display: inline-block;
      padding-left: 1em;
  }
  
  .sidebar.sticky {
      max-height: none;
  }

  
/* Tutorials */
#tutorial-list, .tutorial-orderby section { border-top: 1px solid #f2f3f3; padding-top: 5px; }
#tutorial-list article { display: flex; flex-flow: row wrap; }
#tutorial-list .tutorial-orderby input { display: none; }
#tutorial-list .tutorial-orderby label:first-child { font-weight: bold; }
#tutorial-list .tutorial-orderby label { margin-right: 5px; padding: 5px; border-radius: 4px; font-size: 0.6rem; }
#tutorial-list .tutorial-orderby label:hover, .tutorial-orderby input:checked + label:hover { background: #003399; color: white; }
#tutorial-list .tutorial-orderby label:first-child:hover { background: transparent; color: black; cursor: default; }
#tutorial-list .tutorial-orderby input:checked + label { background: #7a8288; color: white; }
#tutorial-list .tutorial-orderby section { display: none; }
#tutorial-list .tutorial-orderby input:checked + label + section { display: block; width: 100%; }

.tutorial__wrapper { overflow-x:auto; }
.tutorial__group { display: table; border-collapse: separate; border-spacing: 0 1em; width: 100%; }
.tutorial__group h3 { height: 1.5em }
.tutorial__group h3 span { position: absolute; display: inline-block; width: 100%; border-bottom: 1px solid #f2f3f3; }
.tutorial__group .archive__item-title a::before { display: none; }
.tutorial__item-teaser img { max-width: 10em; max-height: 5em; }
.tutorial__item, .tutorial__group h3 { display: table-row; }
.tutorial__group h3 > span, .tutorial__item > h4, .tutorial__item > div, .tutorial__item > p { display: table-cell; vertical-align: top; padding-right: 1em; }
.tutorial__item > p { min-width: 7em; }

/* Mobile Tutorials */

@media (max-width: 800px) {
    .tutorial__group { display: block; }
    .tutorial__item, .tutorial__group h3 { display: block; background-image: linear-gradient(to top, #eee, transparent 45px);}
    .tutorial__group h3 > span, .tutorial__item > h4, .tutorial__item > div { display: block; text-align: center; }
    .tutorial__group .tutorial__item { padding: 1em 0; }
    .tutorial__item-teaser img { max-width: 400px; }
    .tutorial__group h3 { border-top: 1px solid gray; }
    .tutorial__item > p { display: none; }
}

/* Linux install */

.instructions p.headline {
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid lightgray;
}

.instructions input {
    display: none;
}

.instructions label, .instructions .download-button,
.instructions p.down, .instructions p.up {
    display: inline-block;
}

.instructions label {
    font-size: 0.8rem;
    color: #002673;
    text-decoration: underline;
}

.instructions label:hover {
    color: #ffd555
}

.instructions section {
  background: rgb(250,250,250);
  border: 1px solid rgb(230,230,230);
  padding: 10px;
  margin-bottom: 1em;
  border-radius: 5px;
}

.instructions input:not(:checked) ~ section,
.instructions input:not(:checked) ~ label p.up, .instructions input:checked ~ label p.down {
    display: none;
}

.instructions input:checked ~ section {
    display: block;
}

.instructions input:not(:checked) ~ label p.down, .instructions input:checked ~ label p.up {
    display: inline-block;
}

.instructions h3 {
    margin-top: 0;
}

.instructions p.down, .instructions p.up {
    padding: 0 5px;
    margin-left: 5px;
}

/* Compare languages */
.lang-headline {
    display: inline-block;
    width: 90%;
    background: #4c7c7c;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.lang-title {
  font-weight: bold;
  border-bottom: 1px solid grey;
}

/* Image Manipulation */
.img-invert { filter: invert(1); }

.img-fix-height {
  height: 300px;
}

.img-half {
    width: 50%;
    float: left;
}

h2 img {
    float:right;
    max-height: 50px;
}

a img:hover {
    box-shadow: none !important;
}

/* Font Library */

.fonts #main {
    max-width: none;
    margin-left: 3em;
}

@media (max-width: 1370px) {
    .fonts #main {
        margin-left:  auto;
    }
}

div.font-separator {
    border-bottom: 2px solid lightgrey;
    margin-bottom: 1em;
}

div.font-separator img {
    max-width: none;
}

div.font-separator-test {
  border: 2px solid lightgray;
  position: relative;
  float: left;
  height: 170mm;
  overflow: hidden;
  width: 110mm;
  margin: 1mm;
}

.fonts p.font-preview {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.fonts p.font-preview a img {
    max-width: none;
    box-shadow: none !important;
}

.font-glyphs {
    background: none !important;
    color: black !important;
}

.font-glyphs pre {
    white-space: break-spaces;
    padding: 0 !important;
}

/* Machine Database */

.machine-fileformat:hover { background: #ccc; }

/* Cutwork */
.cwd {
    background: lightgray;
    border: 1px solid gray;
    border-radius: 20px;
    display: block;
    width: 2em;
    height: 2em;
    text-align: center;
}

/* Decorations */
.bold--warning {
    border: 5px solid red;
    background: #ffdada;
}
