name: Build
on:
  push:
    branches-ignore:
      - master
    tags:
      - "v*"
jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - uses: actions/setup-python@v1
        with:
          python-version: '2.7.x'
          architecture: 'x86'
      - name: download dependencies
        shell: bash
        run: |
          curl -sOL https://github.com/lexelby/inkstitch-build-objects/releases/download/v1.0.0/Shapely-1.6.3-cp27-cp27m-win32.whl
          curl -sOL https://inkscape.org/en/gallery/item/12187/inkscape-0.92.3.tar.bz2          
      - name: install dependencies
        shell: bash
        run: |
          pip install Shapely-1.6.3-cp27-cp27m-win32.whl
          pip install -r requirements.txt
          pip install pyinstaller==3.3.1
          
          tar -jxf inkscape-0.92.3.tar.bz2
          rm inkscape-0.92.3.tar.bz2
          mv inkscape-0.92.3 inkscape

          echo "::add-path::${{ env.pythonLocation }}\bin"
      - name: fix geos
        shell: bash
        run: |
          cd "${{ env.pythonLocation }}\Lib/site-packages/shapely/DLLs"
          cp geos_c.dll geos.dll
      - shell: bash
        run: |
          make dist
          find .
        env:
          BUILD: windows
      - uses: actions/upload-artifact@master
        with:
          name: inkstitch-windows
          path: artifacts
  mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - uses: actions/setup-python@v1
        with:
          python-version: '2.7.x'
      - name: download inkscape
        shell: bash
        run: |
          curl -sOL https://inkscape.org/en/gallery/item/12187/inkscape-0.92.3.tar.bz2          
      - name: install dependencies
        shell: bash
        run: |
          pip install -r requirements.txt
          pip install pyinstaller==3.3.1
          
          tar -jxf inkscape-0.92.3.tar.bz2
          rm inkscape-0.92.3.tar.bz2
          mv inkscape-0.92.3 inkscape

          echo "::add-path::${{ env.pythonLocation }}\bin"
      - shell: bash
        run: |
          make dist
          find .
        env:
          BUILD: osx
      - uses: actions/upload-artifact@master
        with:
          name: inkstitch-mac
          path: artifacts

  release:
    runs-on: ubuntu-latest
    needs: [windows, mac]
    if: always()
    steps:
      - name: determine release info
        shell: bash
        run: |
          if [[ "${GITHUB_REF}" =~ ^v[0-9.]+$ ]]; then
            echo "::set-env name=release_tag::${GITHUB_REF}"
            echo "::set-env name=prerelease::false"
            echo "::set-env name=title::${GITHUB_REF}"
          else
            branch="${GITHUB_REF#refs/heads/}"
            tag="dev-build-$(echo $branch | tr / -)"
            echo "::set-env name=release_tag::${tag}"
            echo "::set-env name=prerelease::true"
            echo "::set-env name=title::development build of $branch"
          fi
      - name: download artifacts
        uses: actions/download-artifact@v1
        with:
          name: 'inkstitch-*'
          path: 'artifacts/'
      - name: unzip artifacts
        shell: bash
        run: |
          cd artifacts
          for file in inkstitch-*.zip; do
            unzip $file
          done
      - name: create/update release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{secrets.GITHUB_TOKEN}}"
          automatic_release_tag: "${{env.release_tag}}"
          prerelease: "${{env.prerelease}}"
          title: "${{env.title}}"
          files: |
            artifacts/*.zip

            
