<figure class="brandlogo">
  <label class="logo-upload">
    <img src="{{ logo.src or "resources/inkstitch-logo.svg" }}" alt="{{ logo.title }}" title="{{ logo.title }}" data-field-name="logo">
    <input type=file class="logo-picker" />
    <span class="logo-instructions">{{ _("Click to choose another logo") }}</span>
  </label>
</figure>
<div class="headline">
  <div class="pageTitle">
      <h1><span class="jobtitle" contenteditable="true" data-placeholder="{{ _('Enter job title...') }}" data-field-name="title"></span></h1>
      <p class="header-field" data-label="{{ _('CLIENT') }}:" contenteditable="true" data-placeholder="{{ _('Enter client name...') }}" data-field-name="client-name"></p>
      <p class="header-field" data-label="{{ _('PURCHASE ORDER #:') }}" contenteditable="true" data-placeholder="{{ _('Enter purchase order number...') }}" data-field-name="purchase-order"></p>
  </div>

  <div class="currentDate">{{ date|datetimeformat(_('%m/%d/%Y')) }}</div>
</div>
