<figure class="brandlogo">
      <img src="{{ logo.src or "resources/inkstitch-logo.svg" }}" alt="{{ logo.title }}" title="{{ logo.title }}">
</figure>
<div class="headline">
  <div class="pageTitle">
      <h1><span class="jobtitle" contenteditable="true" placeholder="{{ _('Enter job title...') }}">{{ job.title }}</span></h1>
      <p>{{ _('CLIENT') }}:&nbsp;
        <span class="client" contenteditable="true" placeholder="{{ _('Enter client name...') }}">{{ client }}</span>
      </p>
  </div>
  
  <div class="currentDate">{{ date|datetimeformat(_('%Y.%m.%d')) }}</div>
</div>
