<!DOCTYPE html>
<html>
<head>
    <title>Ink/Stitch Print Preview</title>
    <script src="resources/jquery-3.3.1.min.js"></script>
    <script src="resources/inkstitch.js"></script>
    <link rel="stylesheet" href="resources/style.css" />
</head>
<body>
    {% include 'ui.html' %}

    {# page_count will be used inside the footer template #}
    {% set page_count = [0] %}
    
    {% if view.overview %}
        {% if page_count.append(page_count.pop() + 1) %}{% endif %}
        <div id="print-overview" class="page print-overview">{% include 'print_overview.html' %}</div>
    {% endif %}
    
    {% if view.detailedview %}
        {% set view = 'detailedview' %}
        {% for color_block in color_blocks %}
            {% if page_count.append(page_count.pop() + 1) %}{% endif %}
            <div class="page print-detail">{% include 'print_detail.html' %}</div>
        {% endfor %}
    {% endif %}
</body>
</html>
