<!DOCTYPE html>
<html>
<head>
    <title>InkStitch Print-Preview</title>
    <script src="resources/jquery-3.3.1.min.js"></script>
    <script src="resources/inkstitch.js"></script>
    <link rel="stylesheet" href="resources/style.css" />
</head>
<body>
    <div class="ui">
        <p class="header">{{ _('Ink/Stitch Preview') }}</p>
        <div class="buttons">
          <button class="print">{{ _('Print') }}</button>
          <button class="settings">{{ _('Settings') }}</button>
          <button class="close">{{ _('Close') }}</button>
        </div>
    </div>
    
    <div id="settings-ui">
      <p id="close-settings">X</p>
      <h1>{{ _('Settings') }}</h1>
    </div>

    {# page_count will be used inside the footer template #}
    {% set page_count = [0] %}
    
    {% if view.overview %}
        {% if page_count.append(page_count.pop() + 1) %}{% endif %}
        <div class="page print-overview" id="print-overview">{% include 'print_overview.html' %}</div>
    {% endif %}
    
    {% if view.detailedview %}
        {% set view = 'detailedview' %}
        {% for color_block in color_blocks %}
            {% if page_count.append(page_count.pop() + 1) %}{% endif %}
            <div class="page print-detail">{% include 'print_detail.html' %}</div>
        {% endfor %}
    {% endif %}
</body>
</html>
