    <div id="opd-info" style="display: none; height: 220mm; width: 175mm;">
        <header>
          {% include 'headline.html' %}
        </header>
        {% include 'footer.html' %}
        <div class="job-headline">
          <p class="operator-svg operator-colorswatch">{# svg color #}</p>
          <p>{# svg preview #}</p>
          <p>{{ _('Color') }}</p>
          <p>{{ _('Thread Consumption') }}</p>
          <p>{{ _('Stops and Trims') }}</p>
          <p>{{ _('Notes') }}</p>
        </div>
    </div>

        <div class="opd-summary opd-color-block">
          <p class="operator-svg operator-colorswatch">
            <span>##</span>
          </p>
          <p class="operator-svg operator-preview">
            {{ svg_overview|replace("<li>", "")|replace("</li>", "")|safe }}
          </p>
          <p>
            <span>{{ _('Unique Colors') }}: {{ job.num_colors }}</span>
            <span class="num-color-blocks">{{ _('Color Blocks') }}: {{ job.num_color_blocks }}</span>
          </p>
          <p>
            <span>{{ _('Design box size') }}: {{ "%0.1fmm X %0.1fmm" | format(*job.dimensions) }}</span>
            <!-- <span>{{ _('Total thread used') }}: {{job.estimated_thread }}</span> -->
            <span class="total-num-stitches">{{ _('Total stitch count') }}: {{job.num_stitches }}</span>
            <span class="time-opd">{{ _('Estimated time') }}: <span class="total-estimated-time"></span></span>
          </p>
          <p>
            <span class="total-stops">{{ _('Total stops') }}: {{ job.num_stops }}</span>
            <span class="total-trims">{{ _('Total trims') }}: {{ job.num_trims }}</span>
          </p>
          <p>
            <span></span>
          </p>
        </div>

        {% for color_block in color_blocks %}

          <div class="opd-color-block">
            <p class="operator-svg operator-colorswatch">
              <svg xmlns="http://www.w3.org/2000/svg">
                <rect fill="rgb{{ color_block.color.rgb }}" width="15mm" height="100%" />
                <text fill="rgb{{ color_block.color.font_color }}">
                  <tspan x="2mm" y="5mm" class="color-index">#{{ loop.index }}</tspan>
                </text>
              </svg>
            </p>
            <p class="operator-svg operator-preview">
                {{ color_block.svg_preview|replace("<li>", "")|replace("</li>", "")|safe }}
            </p>
            <p>
              <span data-field-name="color-{{ color_block.color.hex_digits }}" contenteditable="true" data-placeholder="{{ _('Enter thread name...') }}">{{ color_block.color.name }}</span>
              <span>{{ color_block.color.rgb }}</span>
              <span data-field-name="thread-{{ color_block.color.hex_digits }}" contenteditable="true">{{ color_block.color.manufacturer }} {{ "#" + color_block.color.number if color_block.color.number }}</span>
            </p>
            <p>
              <!-- <span>{{ _('thread used') }}:</span> -->
              <span class="num-stitches">{{ _('# stitches') }}: {{ color_block.num_stitches }}</span>
              <span class="time-opd">{{ _('estimated time') }}: <span class="estimated-time"></span></span>
            </p>
            <p>
              <span class="num-trims">{{ _('trims') }}: {{ color_block.num_trims }}</span>
              <span class="num-stops">{{ _('stops') }}: {{ color_block.num_stops }}</span>
              <input type="hidden" class="num-stops" value="{{ '1' if color_block.stop_after else '0' }}" />
            </p>
            <p>
              <span class="notes" contenteditable="true" data-field-name="operator-notes-block{{ loop.index }}" data-placeholder="{{ _('Enter operator notes...') }}"></span>
            </p>
          </div>
        {% endfor %}
