        <header>
          {% include 'headline.html' %}
          <div class="job-details condensed">
                <div>
                    <div class="table">
                        <p><span>{{ _('Unique Colors') }}:</span><span>{{ job.num_colors }}</span></p>
                        <p><span>{{ _('Color Blocks') }}:</span><span>{{ job.num_color_blocks }}</span></p>
                        <p><span>{{ _('Total stops') }}:</span><span>{{ job.num_stops }}</span></p>
                        <p><span>{{ _('Total trims') }}:</span><span>{{ job.num_trims }}</span></p>
                    </div>
                </div>
                <div>
                    <div class="table">
                      <p><span>{{ _('Design box size') }}:</span><span>{{ "%0.1fmm X %0.1fmm" | format(*job.dimensions) }}</span></p>
                      <p><span>{{ _('Total stitch count') }}:</span><span>{{ job.num_stitches }}</span></p>
                      <p><span>{{ _('Total thread used') }}:</span><span class="total-estimated-thread"></span></p>
                      <p style="display:none;" id="estimated-thread">{{ job.estimated_thread }}</p>
                    </div>
                </div>
                <div>
                    <div class="table time-opo">
                      <p><span>{{ _('Job estimated time') }}:</span></p>
                      <p><span class="total-estimated-time"></span></p>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <figure class="inksimulation operator" data-field-name="operator-overview-transform" title="{{ _('Ctrl + Scroll to Zoom') }}">
                {{ svg_overview|replace("<li>", "")|replace("</li>", "")|safe }}
                {% with %}
                  {% set realistic_id='realistic-operator-overview' %}
                  {% include 'ui_svg_action_buttons.html' with context %}
                {% endwith %}
            </figure>
        </main>
        {% include 'footer.html' %}
