        <header>
          {% include 'headline.html' %}
          <div class="job-details">
                <div>
                    <div class="table">
                        <p><span>{{ _('Unique Colors') }}:</span><span>{{ job.num_colors }}</span></p>
                        <p><span>{{ _('Color Blocks') }}:</span><span>{{ job.num_color_blocks }}</span></p>
                        <p><span>{{ _('Total stops') }}:</span><span>{{ job.num_stops }}</span></p>
                        <p><span>{{ _('Total trims') }}:</span><span>{{ job.num_trims }}</span></p>
                    </div>
                </div>
                <div>
                    <div class="table">
                      <p><span>{{ _('Design box size') }}:</span><span>{{ "%0.1fmm X %0.1fmm" | format(*job.dimensions) }}</span></p>
                      <p><span>{{ _('Total stitch count') }}:</span><span>{{job.num_stitches }}</span></p>
                      <p><span>{{ _('Total thread used') }}:</span><span>{{job.estimated_thread }}</span></p>
                    </div>
                </div>
                <div>
                    <div class="table">
                      <p><span>{{ _('Job estimated time') }}:</span></p>
                      <p><span>{{ job.estimated_time }}</span></p>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <figure class="inksimulation operator" data-field-name="operator-overview-transform" style="height: 210mm;" title="{{ _('Ctrl + Scroll to Zoom') }}">
                {{ svg_overview|safe }}
                {% include 'ui_svg_action_buttons.html' %}
            </figure>
        </main>
        {% include 'footer.html' %}
