    <main class="page pattern-onlyview" id="pattern-display">
      <figure class="inksimulation pattern-only operator"
              data-field-name="pattern-onlyview"
              title="{{ _('Ctrl + Scroll to Zoom') }}"
              style="cursor: auto;">
                {{ svg_overview|replace("<li>", "")|replace("</li>", "")|safe }}
                {% with %}
                {% set realistic_id='realistic-operator-overview' %}
                {% endwith %}
                <div>
                  <button class="svg-fit">{{ _('Fit') }}</button>
                  <button class="svg-full">100%</button>
                  <button class="svg-apply">{{ _('Apply to all') }}</button>
                  <button class="svg-realistic">
                    {% if loop_index is defined %}
                    <input type="checkbox" id="realistic-color-block-{{ loop_index }}" data-field-name="block{{ loop_index }}" class="realistic" />
                    <label for="realistic-color-block-{{ loop_index }}" class="realistic">{{ _('Realistic') }}</label>
                    {% else %}
                    <input type="checkbox" id="{{ realistic_id }}" data-field-name="overview" class="realistic" />
                    <label for="{{ realistic_id }}" class="realistic">{{ _('Realistic') }}</label>
                    {% endif %}
                  </button>
                </div>
      </figure>
    </main>
