    <main>
      <figure class="inksimulation pattern-only operator"
              data-field-name="pattern-onlyview-transform"
              title="{{ _('Ctrl + Scroll to Zoom') }}"
              style="cursor: auto;">
                {{ svg_overview|replace("<li>", "")|replace("</li>", "")|safe }}
                {% with %}
                {% set realistic_id='realistic-pattern-overview' %}
                {% include 'ui_svg_action_buttons.html' with context %}
                {% endwith %}
      </figure>
    </main>
