        <header>
            {% include 'headline.html' %}
            <div class="job-details">
                <div>
                    <div class="table">
                      <p><span>{{ _('PO.NR') }}:</span><span>{{color_block.color.po_nr}}</span></p>
                      <p><span>{{ _('COLOR') }}:</span><span>{{color_block.color.thred_name}}</span></p>
                    </div>
                </div>
                <div>
                    <div class="table">
                      <p><span>{{ _('Job estimated time') }}:</span></p>
                      <p><span>{{ color_block.estimatedtime }}</span></p>
                  </div>
                </div>
            </div>
        </header>
        <main>
            <figure class="inksimulation">
                {{color_block.svg_preview|safe}}
                <figcaption>{{ _('Scale') }} {{ svg_scale }}</figcaption>
            </figure> 
            
            <div class="color-palette detailed">
                {% include 'color_swatch.html' %}
            </div>
        </main>

      {% include 'footer.html' %}
