        <header>
            {% include 'headline.html' %}
            <div class="jobDetails">
                <div>
                    <div class="table">
                        <p><span>{{ _('Unique Colors') }}:</span><span>{{ job.num_colors }}</span></p>
                        <p><span>{{ _('Color Blocks') }}:</span><span>{{ job.num_color_blocks }}</span></p>
                        <p><span>{{ _('Total nr stops') }}:</span><span>{{ job.num_stops }}</span></p>
                        <p><span>{{ _('Total nr trims') }}:</span><span>{{ job.num_trims }}</span></p>
                    </div>
                </div>
                <div>
                    <div class="table">
                      <p><span>{{ _('Design box size') }}:</span><span>{{ job.dimensions }}</span></p>
                      <p><span>{{ _('Total stitch count') }}:</span><span>{{job.num_stitches }}</span></p>
                      <p><span>{{ _('Total thread used') }}:</span><span>{{job.estimated_thread }}</span></p>
                    </div>
                </div>
                <div>
                    <div class="table">
                      <p><span>{{ _('Job estimated time') }}:</span></p>
                      <p><span>{{ job.estimated_time }}</span></p>
                    </div>
                </div>
            </div>
        </header>
        <main class="overview">
            <figure class="inksimulation">
                {{ svg_overview|safe }}
                <figcaption>{{ _('Scale') }} {{ svg_scale }}</figcaption>
            </figure> 
            
            <div class="colorPalette">
                {% for color_block in color_blocks %}
                    {% include 'color_swatch.html' %}
                {% endfor %}    
            
            </div>
            <div class="signature">{{ _('Client Signature') }}</div>
        </main>

        {% include 'footer.html' %}
