        <header>
            {% include 'headline.html' %}
            <div class="jobDetails">
                <div>
                    <p><span>{{ _('PO.NR') }}:</span><span>{{color_block.color.po_nr}}</span></p>
                    <p><span>{{ _('COLOR') }}:</span><span>{{color_block.color.thred_name}}</span></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p><span>{{ _('Job estimated time') }}:</span></p>
                    <p><span>{{ color_block.estimatedtime }}</span></p>
                </div>
            </div>
        </header>
        <main>
            <figure class="inksimulation">
                {{color_block.svg_preview|safe}}
                <figcaption>{{ _('Scale') }} {{ svg_scale }}</figcaption>
            </figure> 
            
            <div class="colorPalette detailed">
                {% include 'color_swatch.html' %}
                <div class="signature" style="background: white;">
                    <p>{{ _('Client Signature') }}</p>
                </div>
            </div>
        </main>

      {% include 'footer.html' %}
