<figcaption>{{ _('Scale') }} <span class="scale" data-field-name="svg-scale" contenteditable="true" data-placeholder=""></span>%</figcaption>
<div>
  <button class="svg-fit">{{ _('Fit') }}</button>
  <button class="svg-full">100%</button>
  <button class="svg-apply">{{ _('Apply to all') }}</button>
  <button class="svg-realistic">
    <input type="checkbox" id="realistic-operator-overview" data-field-name="overview" class="realistic" />
    <label for="realistic-operator-overview" class="realistic">Realistic</label>
  </button>
</div>
